.InputBox {
  width: 100%;
}

.InputBox input {
  display: none;
  border: none;
  background-color: inherit;
  font-weight: 600;
  font-size: 18;
  width: 100%;
}

.InputBox textarea {
  display: none;
  border: none;
  background-color: inherit;
  font-size: 18;
  width: 100%;
  height: 36px;
}

.InputBox:hover input {
  display: block;
  font-size: 1.3rem;
  width: 100%;
}

.InputBox:hover textarea {
  display: block;
  font-size: 1.3rem;
}

.InputBox:hover div {
  display: none;
}
