.Info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Monster-Bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 3px var(--red) solid;
}

.Monster-Bar input {
  width: 100%;
  background-color: inherit;
  border: none;
  font-size: 1.2em;
}

.Monster-Bar div {
  width: 30px;
  text-align: center;
  font-weight: 600;
}

.Monster-Desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  font-size: 1.2rem;
  border-bottom: 3px var(--red) solid;
}

.Monster-Desc img {
  width: 250px;
}

.Monster-Desc-Select {
  display: flex;
}

.Monster-Desc-Select select {
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  background-color: inherit;
}

.Monster-Desc textarea {
  width: 100%;
  border: none;
  background-color: inherit;
  resize: none;
  font-size: 1rem;
  font-weight: 600;
}

.Monster-Nd {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.4rem;
}

.Monster-Nd button {
  display: none;
  background-color: inherit;
  border: none;
  font-size: 1.2rem;
}

.Monster-Nd:hover button {
  display: flex;
}

.Monster-Nd:hover {
  width: 100px;
}
