.Stats {
  display: flex;
  flex-direction: column;
}

.Monster-Stats {
  display: flex;
}

.Monster-Defense {
  display: flex;
}

.Monster-Hp {
  display: flex;
}

.Monster-Extras {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 3px var(--red) solid;
}
