.Helper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  border: var(--red) solid 3px;
  padding: 20px;
  font-size: 1.2rem;
  background-image: url(https://img.freepik.com/free-photo/white-texture_1160-786.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
}

.Helper-Skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.Tutorial {
  font-size: 1.4rem;
  width: 100%;
}
